<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="FlaUI.Core" version="3.2.0" targetFramework="net472" />
  <package id="FlaUI.UIA3" version="3.2.0" targetFramework="net472" />
  <package id="Interop.UIAutomationClient" version="10.19041.0" targetFramework="net472" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.3" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.1.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net472" />
  <package id="NSubstitute" version="4.3.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="6.1.0" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net472" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.0.7" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="6.0.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>